
#include "resource.h"

IDI_ICON1              ICON                    "FreeRDP.ico"
IDB_MINIMIZE           BITMAP                  "resource\\minimize.bmp"
IDB_MINIMIZE_ACT       BITMAP                  "resource\\minimize_active.bmp"
IDB_LOCK               BITMAP                  "resource\\lock.bmp"
IDB_LOCK_ACT           BITMAP                  "resource\\lock_active.bmp"
IDB_UNLOCK             BITMAP                  "resource\\unlock.bmp"
IDB_UNLOCK_ACT         BITMAP                  "resource\\unlock_active.bmp"
IDB_CLOSE              BITMAP                  "resource\\close.bmp"
IDB_CLOSE_ACT          BITMAP                  "resource\\close_active.bmp"
IDB_RESTORE            BITMAP                  "resource\\restore.bmp"
IDB_RESTORE_ACT        BITMAP                  "resource\\restore_active.bmp"
