# CMake
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
config.h
install_manifest.txt
CTestTestfile.cmake

# Make
Makefile

# Eclipse
*.project
*.cproject
*.settings

# Doxygen
docs/api

# Mac OS X
.DS_Store

# Windows
*.vcxproj
*.vcxproj.*
*.sdf
*.sln
*.suo
*.opensdf
ipch
Debug

# test files
*.pcap

# Binaries
*.a
*.so
*.so.*
*.dylib
cunit/test_freerdp
client/X11/xfreerdp
client/test/freerdp-test
client/DirectFB/dfreerdp
server/test/freerdp-server-test
