# CMake
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
config.h

# Make
Makefile

# Eclipse
*.project
*.cproject

# Doxygen
docs/api

# Binaries
*.so
*.so.*
*.dylib
cunit/test_freerdp
freerdp-ui/test/freerdp-test
