# CMake
CMakeFiles/
CMakeScripts/
CMakeCache.txt
config.h
install_manifest.txt
CTestTestfile.cmake
freerdp.pc
Makefile
Testing
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
DartConfiguration.tcl

# Eclipse
*.project
*.cproject
*.settings

# Documentation
docs/api
client/X11/xfreerdp.1

# Mac OS X
.DS_Store
*.xcodeproj/

# Windows
*.vcxproj
*.vcxproj.*
*.vcproj
*.vcproj.*
*.sdf
*.sln
*.suo
*.ncb
*.opensdf
ipch
Debug
RelWithDebInfo

# Binaries
*.a
*.so
*.so.*
*.dylib
cunit/test_freerdp
client/X11/xfreerdp
client/Mac/xcode
client/Sample/sfreerdp
client/DirectFB/dfreerdp
server/Sample/sfreerdp-server
server/X11/xfreerdp-server
xcode

# Other
*~
*.dir
Release
Win32

default.log
*Amplifier XE*
*Inspector XE*
