<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TSXDefaultComputerBookmarkSettings</key>
	<dict>
		<key>hostname</key>
		<string></string>
		<key>port</key>
		<integer>3389</integer>
		<key>screen_resolution_type</key>
		<integer>1</integer>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>colors</key>
		<integer>16</integer>
		<key>perf_font_smoothing</key>
		<false/>
		<key>perf_menu_animation</key>
		<false/>
		<key>perf_show_desktop</key>
		<false/>
		<key>perf_window_dragging</key>
		<false/>
		<key>perf_windows_themes</key>
		<false/>
		<key>perf_remotefx</key>
		<false/>
		<key>perf_desktop_composition</key>
		<false/>
		<key>enable_3g_settings</key>
		<false/>
		<key>settings_3g</key>
		<dict>
			<key>screen_resolution_type</key>
			<integer>0</integer>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>600</integer>
			<key>colors</key>
			<integer>16</integer>
			<key>perf_remotefx</key>
			<false/>
			<key>perf_desktop_composition</key>
			<false/>
			<key>perf_windows_themes</key>
			<false/>
			<key>perf_window_dragging</key>
			<false/>
			<key>perf_show_desktop</key>
			<false/>
			<key>perf_menu_animation</key>
			<false/>
			<key>perf_font_smoothing</key>
			<false/>
		</dict>
		<key>security</key>
		<integer>0</integer>
		<key>remote_program</key>
		<string></string>
		<key>working_dir</key>
		<string></string>
		<key>console</key>
		<false/>
		<key>enable_tsg_settings</key>
		<false/>
		<key>tsg_hostname</key>
		<string></string>
		<key>tsg_port</key>
		<integer>443</integer>
		<key>tsg_username</key>
		<string></string>
		<key>tsg_password</key>
		<string></string>
		<key>tsg_domain</key>
		<string></string>
	</dict>
	<key>ui.auto_scroll_touchpointer</key>
	<true/>
</dict>
</plist>
