#!/usr/bin/make -f

NULL =

DEB_CMAKE_EXTRA_FLAGS :=  -DCMAKE_SKIP_RPATH=FALSE \
                          -DCMAKE_SKIP_INSTALL_RPATH=FALSE \
                          -DWITH_PULSE=ON \
                          -DWITH_CHANNELS=ON \
                          -DBUILTIN_CHANNELS=ON \
                          -DWITH_CUPS=ON \
                          -DWITH_PCSC=ON \
                          -DWITH_JPEG=ON \
                          -DWITH_GSTREAMER_0_10=ON \
                          -DWITH_GSM=ON \
                          -DCHANNEL_URBDRC=ON \
                          -DCHANNEL_URBDRC_CLIENT=ON \
                          -DWITH_SERVER=ON \
                          -DBUILD_TESTING=OFF \
                          -DCMAKE_BUILD_TYPE=RELWITHDEBINFO \
                          -DCMAKE_INSTALL_PREFIX=/opt/freerdp-nightly/ \
                          -DCMAKE_INSTALL_INCLUDEDIR=include \
                          -DCMAKE_INSTALL_LIBDIR=lib \
                          $(NULL)

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CMAKE_EXTRA_FLAGS)

override_dh_shlibdeps:
	dh_shlibdeps -l /opt/freerdp-nightly/lib/

override_dh_strip:
	dh_strip --dbg-package=freerdp-nightly-dbg

override_dh_install:
	mkdir -p debian/tmp/opt/freerdp-nightly/lib/cmake/
	rm -rf debian/tmp/opt/freerdp-nightly/lib/freerdp2/*.a

	dh_install --fail-missing

override_dh_clean:
	rm -f config.h
	dh_clean
